section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder {
    margin: 20px 10%;
    padding: 20px;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10%;
}

nav ul {
    display: inline-block;
}

nav a {
    list-style: none;
    text-decoration: none;
    color: #646363;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 17px;
    font-weight: bold;
}

nav li a:hover {
    color: #a3a3a3;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0;
}

form .input {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px 0;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.label {
    width: 180px;
}

#item {
    display: flex;
    align-items: flex-end;
}

button {
    border-radius: 20px;
}

table {
    width: 100%;
    border: 1px solid black;
}

.head th {
    background-color: #acaca8;
}

.list td {
    background-color: #f06731;
    text-align: center;
}
